doctype html
html(lang="en")
  head
    title game of life
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
    link(rel="icon" type="image/png" size="72x72" href="./images/icons/icon-72x72.png") 
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    //- pwa part
    link(rel="manifest" href="manifest.json")
    meta(name="mobile-web-app-capable" content="yes")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    //- pwa part
    link(rel="manifest" href="manifest.json")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="application-name" content="Game of Life")
    meta(name="apple-mobile-web-app-title" content="Game of Life")
    meta(name="theme-color" content="#111822")
    meta(name="msapplication-navbutton-color" content="#111822")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="msapplication-starturl" content="/")
  body
    canvas#field
    .menu
      button#config
        i.fa.fa-cog
      .speed-dropdown
        button
          i.fa.fa-tachometer
        .speed-menu
          button#speed-down -
          button#speed-up +
      button#random
        i.fa.fa-random
      button#play-pause  
        i#play-pause-icon.fa.fa-play
      button#next
        i.fa.fa-forward
      button#clear 
        i.fa.fa-trash-o
      button#add-modal-btn 
        i.fa.fa-plus-circle
    #modal-add.modal
      #name-list
    #modal-config.modal
